.calculator{
    text-align: center;
    margin: 0 auto;
    margin-top:  200px;
    width: 400px;
    background-color: black;
    border: 1px solid black;
}

.calculator-screen { 
    width: 100%;
    height:  100px;
    background-color: #252525;
    color: white;
    text-align: right;
    font-size: 36px;
    border: none;
    padding:  0 20px;
    box-sizing: border-box;
 }

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button{
    height: 80px;
    background-color: gray;
    font-size: 32px;
    color: white;
    width: 25%;
}

.zero-btn{
    width: 50%;
}

.operator, .equal-sign{
    background-color: orange;
}

.clear, .all-clear{
    background-color: firebrick;
}

button:hover{
    background-color: darkgray;
}

.operator:hover, .equal-sign:hover{
    background-color: darkorange;
}

.clear:hover, .all-clear:hover{
    background-color: darkred;
}