*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color : #181818;
}
.calculator{
   display: flex;
   flex-direction: column;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

.calculator-screen{
    width: 300px;
    height: 80px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 35px;
    border: none;
    padding: 0 20px;
}

.calculator-keys {
    width: 300px;
}

.row {
    display: flex;
}

button{
    height: 80px;
    background-color: gray;
    font-size: 32px;
    color: white;
    width: 25%;
}

.zero-btn{
    width: 50%;
}

.operator, .equal-sign{
    background-color: orange;
}

.clear, .all-clear{
    background-color: firebrick;
}

button:hover{
    background-color: darkgray;
}

.operator:hover, .equal-sign:hover{
    background-color: darkorange;
}

.clear:hover, .all-clear:hover{
    background-color: darkred;
}
